include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_lasagna/migrations *
recursive-include ripiu/cmsplugin_lasagna/templates *
recursive-include ripiu/cmsplugin_lasagna/static *
recursive-include ripiu/cmsplugin_lasagna/locale *